<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">User</h4>
            <p class="category">Profiles</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <%= render @users %>
              </tbody>
            </table>
          </div>
          <div class="pull-right text-info">
            <%= paginate @users %>
            <%= page_entries_info @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
