<tr>
  <td><%= payment.payment_entity(current_entity).full_name %></td>
  <td><%= payment.created_at.strftime("%m-%d-%Y") %></td>
  <td><%= payment.amount %></td>
  <td><%= payment.status %></td>
</tr>
