<h1>Payment Requests</h1>

<table class="table table-striped table-border">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  <%= render @payments %>

</table>

<hr>
<%= paginate @payments %>
<%= page_entries_info @payments %>
