<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Type</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Type</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'old_salt_appointment', collection: @appointments, as: :appointment %>
  </tbody>
</table>
