<h1>Appointments</h1>

<table class="table table-striped table-border">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Type</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <%= render partial: 'user_appointment', collection: @appointments, as: :appointment %>
</table>

<hr>
<%= paginate @appointments %>
<%= page_entries_info @appointments %>
