
<% if current_old_salt.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(current_old_salt.errors.count, "error") %> prohibited
      your profile from being saved:
    </h2>
    <ul>
      <% current_old_salt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
